/*bliaron_hahmolomake.css*/
/* LGPL-3.0-or-later */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:text-top;
    background:transparent;
}

select {
    font-size: 9px;
}

caption {
    margin-top: 0.5em;
    margin-bottom: 0.4em;
}

th {
    font-size: 9pt;
}

body {
    line-height:1;

}
h1{font-size:2em;}
h2{font-size:1.5em;}
h3{font-size:1em;}
tr{font-weight:500;font-size:0.8em;}
#wrapper {
    width: 184.6mm;
    height: 270mm;
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin: 10mm;
    /* padding-left: 12.7mm; */
    /* padding-top: 10mm; */
    /* padding-bottom: 10mm; */
    /* padding-right: 12.7mm; */
    position: relative;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
input {
	width:3.8em;
}


button{padding: 0px 2px; font-size: 9px;margin: 0px 2px;}

a{font-size: 9px;}

.grid{
	width:initial;
}
.lomake_area div {
    /* border: 1px black solid; */
	display: inline-block;
}

#logo_img {
    width: 100%;
    margin-bottom: 1em;
    margin-top: 0em;
}

#headerleft {
    display:inline-block;
    float: left;
    width: 49%;
}

#headerright {
    display:inline-block;
    float: right;
    width: 49%;
}

#left {
	width:65%;
    position:relative;
}
#right{
	width:33%;
}
#left-top, #left-bottom{
	width:100%;
}
#lowerstuff{
	width:100%;
}

.editable-box {
	width:100%;
}
.two {
	width:49%;
}

.twoleft {
	width:49%;
    float: left;
}

.tworight {
	width:49%;
    float: right;
}

.threeleft {
	width:49%;
    float: left;
}

.threeright {
	width:49%;
    float: right;
}

.editable-span {
	display:inline-block;
    width: 33%;
    overflow: hidden;
    white-space: nowrap;
}
.editable-span-onlytext {
	display:inline-block;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
}

.editable-span input, .printspan{
    width: 55%;
    float: right;
	margin-right:0.5em;
	margin-bottom:0.1em;
}

.textonly{
	display:block;
}
.textonly input {
	width:100%;
}
table{
	width:100%;
	border-collapse: collapse;
}
tr {
	text-align:left;
}
thead td{
	font-size:1.2em;
    width: initial;
}
.text{
	width:100%
}
.select-tr {
	border-bottom: 1px #ddd solid;
}
.select-td-name {
	text-align:left;
	max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	width: 22%;
}
.onlytext-tr {}
.onlytext-td{
    padding-right: 5px;
    padding-left: 10px;
}
.wideinput {
    wideinput: 100%;
}
.empty-td {
	color: white;
}
.select-td-expl {
	text-align:left;
	max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	width:60%;
}

.selector {
  display: block;
  position: fixed;
  top: 5%;
  left: 5%;
  width: 80%;
  height: 80%;
  padding: 16px;
  border: 16px solid orange;
  background-color: white;
  z-index: 1002;
  overflow: auto;
}
.selector table {
	width:100%;
}
.selector_close{
	position: absolute;
	right: 0px;
	top: 0px;
}
.traitdiv {
	margin: 0.3em;
}
.traitdiv h3{
	display:inline;
}
.traitdiv span {
	margin-left:1em;
}
.traiteffect {
	font-weight:bold;
	font-size:90%;
}

@media print {
	#options{display:none;}
	.printhide{display:none;}
	#wrapper{/* border:none; */margin:0mm;}
	#footer{left:0mm;}

	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}

	/* Firefox */
	input[type=number] {
	  -moz-appearance: textfield;
	}

}
.select-searchbox {

}
#search_result_box {
	position: absolute;
	display:block;
	background:#c0dbdb;
}
#namegenbox {
	position: absolute;
	display:block;
	background:#c0dbdb;
	z-index:9999;
	padding:0.5em;
}
#namegenbox_close {
	position: absolute;
	right: 0px;
	top:0px;
}
#namegenbox ul {
	margin: 1em;
}
#namegenbox ul li {
	padding-top: 0.5em;
}

#advancedoptionsbox {
    position: absolute;
	display:block;
	background:#c0dbdb;
	z-index:9999;
	padding:0.5em;
    background: #c0dbdb;
}

#advancedoptionsbox_close {
	position: absolute;
	right: 0px;
	top:0px;
}

.advancedoptionsindiv {
    white-space: nowrap;
}
